.wrap {
width: 600px;
margin: auto;
background-color: white;
margin-top: 25px;

}

body {
background-color: rgb(240, 240, 240);
}

#logo {
display: flex;
justify-content: center; 
align-items: center; 
padding-top: 10px;
padding-bottom: 25px;

}

#nav {

display: flex;
justify-content: center; 
align-items: center; 

}

#bottext {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 15px;
padding-bottom: 13px;
color: #000000;
font-weight: normal;
padding: 25px;

}

#soc {

display: flex;
justify-content: center; 
align-items: center; 
margin-top: 25px;
}

#soc img {
padding-left: 45px;

}

#botimg {
display: flex;
justify-content: center; 
align-items: center; 


}

#usl {
text-align: -webkit-center;
background-color: rgb(215, 215, 215);
width: 600px;
color: #000000;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 10px;
line-height: 11px;
margin-top: 0;
margin-bottom: 0;
padding-top: 2px;
padding-bottom: 2px;
font-weight: normal;
margin: auto;
margin-top: 45px;
}

#footer a {

color: #a6a6a6;

}


#usl a {
text-decoration: none;
color: black;


}

#footer {
background-color: rgb(242, 242, 242);
    width: 600px;
	margin: auto;

	color: #a6a6a6;
    font-size: 12px;
    font-family: Helvetica,Arial,sans-serif;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 18px;
    text-align: center;

}


